{% extends '../home.html' %}
{%load static%}

{%block content%}

<h1> Hi {{g_name}} !!</h1> 
<form action={% url 'home' %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" name="submit" class='submit' value='HOME' >
</form>
<form action={% url 'group' %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" id="g_det" name="g_det" value="{{g_name}}" style="display: None;">
    <input type="password" id="g_password" name="g_password" value="{{g_password}}" style="display: None;">
    <input type="submit" name="submit" class='submit' value='REFRESH BILLS' style="width: 150px !important">
</form><br>
    <br><br><br>

{% if member_added %}
<div class="member-added" style="position: absolute; top: 12%; left: 5%;">
    <h2>New Member Added Successfully</h2>
</div>
{%endif%}
<div class="create-member" style="position: absolute; top: 1.5%; left: 5%;">
    <form action={% url 'add_member' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" id="g_det" name="g_det" value="{{g_name}}" style="display: None;">
        <input type="password" id="g_password" name="g_password" value="{{g_password}}" style="display: None;">
        <input type="text" id="m_name" name="m_name" placeholder="Enter New Member Name"><br>
        <input type="submit" name="submit" class='submit' value='ADD NEW MEMBER' style="width: 200px !important;">
    </form>
</div>

<div class="create-member" style="position: absolute; top: 20%; left: 5%;">
    <form action={% url 'add_bill_home' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" id="g_det" name="g_det" value="{{g_name}}" style="display: None;">
        <input type="password" id="g_password" name="g_password" value="{{g_password}}" style="display: None;">
        <input type="submit" name="submit" class='submit' value='ADD NEW BILL' style="width: 200px !important;">
    </form>
</div>

<div class="create-member" style="position: absolute; top: 27%; left: 5%;">
    <form action={% url 'add_payment' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" id="g_det" name="g_det" value="{{g_name}}" style="display: None;">
        <input type="password" id="g_password" name="g_password" value="{{g_password}}" style="display: None;">
        <input type="submit" name="submit" class='submit' value='ADD PAYOUT DETAILS' style="width: 200px !important;">
    </form>
</div>


{%if pending_bills|length%}
<h1>Pending Bills (Upvote Bill to get approved)</h1><br>

<form action={% url 'bill_upvote' %} method="post" enctype="multipart/form-data">
{% csrf_token %}
<table class="details pending">
    <tr>
      <th> ID </th>
      <th> FILE </th>
      <th> BILLED FOR </th>
      <th> AMOUNT </th>
      <th> UPVOTE </th>
      <th> PAID BY </th>
      <th> CREATED AT </th>
      <th> SELECT </th>
    </tr>
    {%for bill in pending_bills%}
    <tr>
        <td>{{bill.id}}</td>
        <td><a href="{% url 'bills_download' filename=bill.file %}" style="color: lightblue;" onMouseOver="this.style.color='black'"
            onMouseOut="this.style.color='lightblue'">Download File</a></td>
        <td>{{bill.billed_for}}</td>
        <td>{{bill.amount}}</td>
        <td>{{bill.upvote}}</td>
        <td>{{bill.m_user}}</td>
        <td>{{bill.created_at}}</td>
        <td>
            <div>
                <input type="checkbox" id="billids" name="billids" value="{{bill.id}}">
                <label for="billids"> UPVOTE</label><br>
            </div>
        </td>
    </tr>
    {%endfor%}
  </table>
  <input type="text" id="g_det" name="g_det" value="{{g_name}}" style="display: None;">
  <input type="password" id="g_password" name="g_password" value="{{g_password}}" style="display: None;">
  <input type="submit" name="submit" class='submit' value='submit' >
</form><br>
{%else%}
<h1>Pending Bills </h1><br>
<h3>---- Empty ----</h3>
{%endif%}




<br><br><br><h1>Approved Bills</h1><br>

{%if insufficent_balance_members%}
<div id = "ins-balance" style="display: block">
    <h3>INSUFFCIENT BALANCE FOR THE FOLLOWING MEMBERS</h3><br>
    <table class="details dues">
        <tr>
        <th> NAME </th>
        <th> NEED TO TOPUP </th>
        </tr>
        {%for ibmember in insufficent_balance_members%}
        <tr>
            <td>{{ibmember.name}}</td>
            <td>{{ibmember.need_to_load}}</td>
        </tr>
        {%endfor%}
    </table><br><br>
</div>
{%endif%}

{%if money_send_partially%}
<div id = "money-send-partially" style="display: block">
    <h3>MONEY TRANSFERRED SUCCESSFULLY || WILL BE CREDITED WITHIN 24 HOURS</h3><br>
    <table class="details transferred">
        <tr>
          <th> NAME </th>
          <th> PAYOUT METHOD </th>
          <th> PAYOUT AMOUNT </th>
        </tr>
        {%for payout_detail in payout_details%}
        <tr>
            <td>{{payout_detail.payee_name}}</td>
            <td>{{payout_detail.payout_method}}</td>
            <td>{{payout_detail.total_payout_amount}}</td>
        </tr>
        {%endfor%}
    </table><br>
    <h3>INSUFFCIENT BALANCE FOR THE FOLLOWING MEMBERS</h3><br>
    <table class="details dues">
        <tr>
        <th> NAME </th>
        <th> NEED TO TOPUP </th>
        </tr>
        {%for ibmember in insufficent_balance_members_par%}
        <tr>
            <td>{{ibmember.name}}</td>
            <td>{{ibmember.need_to_load}}</td>
        </tr>
        {%endfor%}
    </table><br><br>
</div>
{%endif%}

{%if money_send%}
<div id = "money-send" style="display: block">
    <h3>MONEY TRANSFERRED SUCCESSFULLY || WILL BE CREDITED WITHIN 24 HOURS</h3><br>
    <table class="details transferred-success">
        <tr>
          <th> NAME </th>
          <th> PAYOUT METHOD </th>
          <th> PAYOUT AMOUNT </th>
        </tr>
        {%for payout_detail in payout_details%}
        <tr>
            <td>{{payout_detail.payee_name}}</td>
            <td>{{payout_detail.payout_method}}</td>
            <td>{{payout_detail.total_payout_amount}}</td>
        </tr>
        {%endfor%}
      </table><br>
</div>
{%endif%}

{%if money_send_failed%}
<div id = "money-send-failed" style="display: block">
    <h3>MONEY TRANSFERRED FAILED || {{payee}} hasn't added any PAYOUT method yet.</h3><br>
</div>
{%endif%}

{%if approved_bills|length%}

<form action={% url 'bill_clear' %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table class="details approved">
    <tr>
      <th> ID </th>
      <th> FILE </th>
      <th> BILLED FOR </th>
      <th> AMOUNT </th>
      <th> PAID BY </th>
      <th> CREATED AT </th>
      <th> CLEAR BILL</th>
    </tr>
    {%for bill in approved_bills%}
    <tr>
        <td>{{bill.id}}</td>
        <td><a href="{% url 'bills_download' filename=bill.file %}" style="color: lightblue;" onMouseOver="this.style.color='black'"
            onMouseOut="this.style.color='lightblue'">Download File</a></td>
        <td>{{bill.billed_for}}</td>
        <td>{{bill.amount}}</td>
        <td>{{bill.m_user}}</td>
        <td>{{bill.created_at}}</td>
        <td>
            <div>
                <input type="checkbox" id="billids" name="billids" value="{{bill.id}}">
                <label for="billids"> CLEAR</label><br>
            </div>
        </td>
    </tr>
    {%endfor%}
  </table>
  <input type="text" id="g_det" name="g_det" value="{{g_name}}" style="display: None;">
  <input type="password" id="g_password" name="g_password" value="{{g_password}}" style="display: None;">
  <input type="submit" name="submit" class='submit' value='submit' >
</form><br>
{%else%}
<h3>---- All Cleared | Enjoy !!! ----</h3>
{%endif%}







{%if dues|length%}
<br><br><br><h1>Individual Dues</h1><br>
<table class="details dues">
    <tr>
      <th> NAME </th>
      <th> TOTAL PENDING </th>
      <th> WALLET BALANCE </th>
      <th> TOPUP WALLET </th>
    </tr>
    {%for due in dues%}
    <tr>
        <td>{{due.name}}</td>
        <td>{{due.amount}}</td>
        <td>{{due.wallet}}</td>
    </tr>
    {%endfor%}
  </table><br><br>
{%else%}
<h1>Individual Dues </h1><br>
<h3>---- All Cleared | Enjoy !!! ----</h3><br><br>
{%endif%}





{%if completed_bills|length%}
<h1>Completed Bills</h1><br>
<table class="details completed">
    <tr>
      <th> FILE </th>
      <th> BILLED FOR </th>
      <th> AMOUNT </th>
      <th> PAID BY </th>
      <th> CREATED AT </th>
    </tr>
    {%for bill in completed_bills%}
    <tr>
        <td><a href="{% url 'bills_download' filename=bill.file %}" style="color: lightblue;" onMouseOver="this.style.color='black'"
            onMouseOut="this.style.color='lightblue'">Download File</a></td>
        <td>{{bill.billed_for}}</td>
        <td>{{bill.amount}}</td>
        <td>{{bill.m_user}}</td>
        <td>{{bill.created_at}}</td>
    </tr>
    {%endfor%}
  </table>
{%else%}
<h1>Completed Bills </h1><br>
<h3>---- Empty ----</h3>
{%endif%}
<br><br><br>
{%endblock%}




{%block script%}
<script>
setTimeout(() => {
    const box = document.getElementById('ins-balance');
    // 👇️ removes element from DOM
    box.style.display = 'none';
  }, 25000); // 👈️ time in milliseconds

setTimeout(() => {
    const box = document.getElementById('money-send');
    // 👇️ removes element from DOM
    box.style.display = 'none';
  }, 20000); // 👈️ time in milliseconds

setTimeout(() => {
    const box = document.getElementById('money-send-failed');
    // 👇️ removes element from DOM
    box.style.display = 'none';
  }, 15000); // 👈️ time in milliseconds

setTimeout(() => {
    const box = document.getElementById('money-send-partially');
    // 👇️ removes element from DOM
    box.style.display = 'none';
  }, 25000); // 👈️ time in milliseconds
</script>
  
{%endblock%}